body {
	background: #6441a5;
	color: #fff;
}

.hero {
	text-align: center;
  text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	background: #eee;
}


tbody tr:hover,
tbody tr:hover a{
	color: #6441a5;
}

a {
	color: #fff;
}

.stream-logo{
	height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.logo {
  height: 100px;
  margin: 20px auto 40px auto;
}

.table>tbody>tr>td,.live,
.table>tbody>tr>td,.game {
	vertical-align: middle;
}

.navbar-form {
	padding-left: 8px;
}


.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.search {
  width: 50%;
  margin-bottom: 25px;
}

@media only screen and (max-width: 900px){
  .search {
    width: 70%;
  }
}

@media only screen and (max-width: 600px){
  .search {
    width: 90%;
  }
}

td:last-of-type,
th:last-of-type {
  text-align: center;
}

thead tr{
  text-transform: uppercase;
}

.status-icon {
  display: inline-block;
  height: 12px;
  margin-right: 10px;
}