body {
	background: #6441a5;
	color: #fff;
}

h1 {
	text-align: center;
}


button:hover {
	cursor: pointer;
	background: #eee;
}

.twitch-btn {
	padding-top: 30px;
	text-align: center;
}

.twitch {
	max-width: 960px;
	margin: 0 auto;	
}

tbody tr:hover,
tbody tr:hover a{
	color: #6441a5;
}

a {
	color: #fff;
}

.stream-logo {
	height: 50px;
    display: inline-block;
    margin-right: 10px;
}